$navbar-inverse-bg: #092652;
  
@import "bootstrap-sprockets";
@import "bootstrap";


#body{
	background: asset-url("bg-black") fixed;
	min-height: 1200px;
	position: relative;
	background-size: cover;
	background-position: center;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
#logo:hover {
	color: #fff;
	text-decoration: none;
}
.center {
	text-align: center;
}
.contract{
	background-image: asset-url('contract-home.jpg');
	background-size: cover;
	height: 550px;
}
.blog{
	background-image: asset-url('blog-home.jpg');
	background-size: cover;
	height: 550px;
}
// .jumbotron {
// 	background-image: url('http://www.coolfbcovers.com/covers-images/download/Feel%20The%20Bass%20Fb%20Cover.jpg');
// 	background-size: cover;
// 	height: 550px;
// }
.jumbotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}
#contract{
	color: #092652;
}
.btn-xlarge {
	font-size: 1.7em;
	background-color: black;
}
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}
footer a:hover {
	color: #222;
}
footer small {
	float: left;
}
footer ul {
	float: right;
	list-style: none;
}
footer ul li {
	float: left;
	margin-left: 15px;
}
.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}
.description {
	margin-top: 0;
}
.article-title {
	font-weight: bold;
	font-size: 1.5em;
}
.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}
.home {
	margin: 70px auto;
	text-align: center;
}
.img-small{
  height:300px;
  width:300px;
}

// contract page
.contract-page{
	margin-top: 70px;
	color:black;
}
.signature{
	margin-bottom: -20px;
	font-family: 'Cedarville Cursive', cursive;
	/*font-family: 'Arty-Signature', cursive;*/
	/*font-family: 'Beast', cursive;*/
}
#date{
	margin-bottom: -20px;
}
.name{
	font-weight: 700;
}
h1, h2, label, .control-label, .white{
	color:#fff;
}